/* *{
    margin: 0%;
    padding: 0%;
}
.CardioPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg,rgba(0,0,0,1.4) ,rgba(0,0,0,0.5)),url("../assets/BeginnerBackground.jpeg"); 
}
.CardioContent {
    width: 60%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red; */
    /* padding: 50px; */
    /* overflow: hidden; */
/*     
} */
/* .pagescroll{
    animation: cc 10s linear infinite;
    position: relative;
}
@keyframes cc {
    from{
        bottom: -500px;
    }
    to{
        bottom: 800px;
    }
} */
/* .CardioContent p{ */
    /* padding-bottom: 30px; */
    /* color: white;
    font-size: medium;
    text-align: left;
    transition: all 0.3s ease-in-out;
    
}
.CardioContent p:hover{
    transform: scale(1.03);
}
.CardioImages{
    width: 40%;
    height: 70%; */
    /* margin-right: 0%;
    padding-right: 0%; */
    /* margin-top: 40px; */
    /* border: 2px solid green;
    border-radius: 10%/10%;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    background: linear-gradient( 45deg ,black, white,0.77);
}

.CardioImages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%/10%; */
    /* background-color: linear-gradient(45deg,rgba(185, 22, 22, 0.6),rgba(0,0,0,0.6)); */
    
/* } */
/* .subcribetred,.subcribeswim,.subcribejog,.subcribecyc{
    width: 20px;
    height: 50px; */
    /* display: flex;
    align-items: center; */
    /* justify-content: space-around; */
    /* border: 2px solid yellow;
}
.subscribe{
    width: 100px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */
 /* ------------------------------------------------------------------- */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CardioPage {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;   /* important */
    background: linear-gradient(45deg, rgba(0,0,0,0.9), rgba(0,0,0,0.7)),
                url("../assets/BeginnerBackground.jpeg");
    background-size: cover;
    background-position: center;
    /* padding: 40px; */
}

/* TOP ROW */
.TopContainer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    flex: 1;
    /* height: 100%; */
    /* border: 5px solid violet; */
}
.TopContainer h1{
    text-align: center;
    color: beige;
    
}

/* LEFT SIDE */
.CardioContent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-top: 30px;
    /* border: 2px solid yellow;  */
}
/* .CardioContent span{
    color: #47ff47;
} */

.CardioContent p {
    color: white;
    line-height: 1.5;

}

/* RIGHT SIDE */
.CardioImage {
    width: 50%;
    display: flex;
    /* height: 100%; */
    /* margin-top: 60px; */
    /* border: 2px solid red; */
    
}

.CardioImages {
    width: 100%;
    /* height: 100%; */
    /* border-radius: 20px;  */
    overflow: hidden;
    flex: 1;
    /* border: 2px solid green; */
    
}

.CardioImages .image-container {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    /* margin-top: 40px; */
    object-fit: cover;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: opacity 0.3s ease-in-out;
    /* border-top: 1000px; */
    /* border: 1px solid #47ff47; */
    
}








/* BOTTOM SUBSCRIBE ROW */
.subscribe {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* border: 6px solid rgb(185, 10, 10); */
}

/* SMALL BOXES */
.subcribetred,
.subcribeswim,
.subcribejog,
.subcribecyc {
    width: 600px;
    /* height: 350px; */
    flex: 1;
    padding: 20px;
    /* border: 2px solid rgb(30, 146, 255); */
    border-radius: 10px;
    color: beige;
    /* background-color: beige; */
    /* opacity: 0.5; */
}
.subcribetred ul,
.subcribeswim ul,
.subcribejog ul,
.subcribecyc ul{
    margin-top: 15px;
    padding-left: 10px;

}
ul {
  list-style: none; /* Remove default bullets */
  padding-left: 0;
}

li::before {
  content: "◆"; /* Diamond symbol */
  color: #47ff47; /* Change bullet color */
  font-weight: bold;
  display: inline-block;
  width: 1.5em; /* Space between diamond and text */
}
.CardioContent h2{
    color: white;
    padding-bottom: 10px;
}
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 70px; */
    /* border: 2px solid blue; */
    margin: 50px;
    /* padding: 50px; */
}
.btn button{
    padding: 10px 60px;
    color: white;
    font-weight: 800;
    background-color: rgb(63, 167, 63);
    border-radius: 20px;
    border: none;
}
/* .subcribetred,
.subcribeswim,
.subcribejog,
.subcribecyc ul {
  list-style-type: circle;
  padding-left: 20px;
  color: white; */
  /* font-weight: bold; */
/* } */
.subscribefirst,.subscribesecond{
    display: flex;
    padding: 50px;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    /* border: 5px solid rgb(139, 89, 97); */

    justify-content: center;
}
.subscribefirst h2,.subscribesecond h2{
    text-align: center;
    /* color: #47ff47; */
}
p{
    font-size: 1rem;
}
.subcribetred{
    background: linear-gradient(rgb(43, 41, 41,0.8)),url("../assets/cardiodetail1.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.subcribeswim{
     background: linear-gradient(rgb(43, 41, 41,0.8)) ,url("../assets/cardiodetail2.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.subcribejog{
     background: linear-gradient(rgb(43, 41, 41,0.8)), url("../assets/cardiodetail3.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.subcribecyc{
     background: linear-gradient(rgb(43, 41, 41,0.8)), url("../assets/cardiodetail4.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
}